<a href="https://colab.research.google.com/github/saketh105/Data690/blob/main/Assignment_08/Assignment_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt


  ## 1. Use Pandas to read the file census_costs.txt file

In [ ]:
df =pd.read_csv("https://raw.githubusercontent.com/DATA-690-SPRING-2022/WANG/main/assignment_04/census_costs.txt", skiprows=1, sep='\t')
df

   Census Year Total Population     Census Cost Average Cost Per Person
0         1790        3,929,214         $44,377              1.13 cents
1         1800        5,308,483         $66,109              1.24 cents
2         1810        7,239,881        $178,445              2.46 cents
3         1820        9,633,822        $208,526              2.16 cents
4         1830       12,866,020        $378,545              2.94 cents
5         1840       17,069,458        $833,371              4.88 cents
6         1850       23,191,876      $1,423,351              6.14 cents
7         1860       31,443,321      $1,969,377              6.26 cents
8         1870       38,558,371      $3,421,198              8.87 cents
9         1880       50,155,783      $5,790,678             11.54 cents
10        1890       62,979,766     $11,547,127             18.33 cents
11        1900       76,303,387     $11,854,000             15.54 cents
12        1910       91,972,266     $15,968,000             17.07 cents
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

  ## 2. Find out how many rows and columns it has

In [ ]:
df.shape

(23, 4)

  ## 3. Display first 10, last 10, and random 10 rows

In [ ]:
df.head(10)

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents
5        1840       17,069,458    $833,371              4.88 cents
6        1850       23,191,876  $1,423,351              6.14 cents
7        1860       31,443,321  $1,969,377              6.26 cents
8        1870       38,558,371  $3,421,198              8.87 cents
9        1880       50,155,783  $5,790,678             11.54 cents

In [ ]:
df.tail(10)

   Census Year Total Population     Census Cost Average Cost Per Person
13        1920      105,710,620     $25,117,000             23.76 cents
14        1930      122,775,046     $40,156,000             32.71 cents
15        1940      131,669,275     $67,527,000             51.29 cents
16        1950      151,325,798     $91,462,000             60.44 cents
17        1960      179,323,175    $127,934,000             71.34 cents
18        1970      203,302,031    $247,653,000                   $1.22
19        1980      226,542,199  $1,078,488,000                   $4.76
20        1990      248,718,301  $2,492,830,000                  $10.02
21        2000      281,421,906    $4.5 Billion                  $15.99
22       2010*      308,745,538     $13 Billion                  $42.11

In [ ]:
df.sample(10)

   Census Year Total Population  Census Cost Average Cost Per Person
6         1850       23,191,876   $1,423,351              6.14 cents
4         1830       12,866,020     $378,545              2.94 cents
12        1910       91,972,266  $15,968,000             17.07 cents
9         1880       50,155,783   $5,790,678             11.54 cents
5         1840       17,069,458     $833,371              4.88 cents
7         1860       31,443,321   $1,969,377              6.26 cents
1         1800        5,308,483      $66,109              1.24 cents
3         1820        9,633,822     $208,526              2.16 cents
13        1920      105,710,620  $25,117,000             23.76 cents
14        1930      122,775,046  $40,156,000             32.71 cents

  ## 4. Find out the data types of all columns - use info() function

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 864.0+ bytes

  ## 5. Find out the summary statistics of all columns

In [ ]:
df.describe()

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1790        3,929,214     $44,377              1.13 cents
freq             1                1           1                       1

  ## 6. Cleanse the data to make the year, population, cost, cost per person numerical type

In [ ]:
def clean_year(Year_fn):
    n =  "*" in Year_fn
    if n == True:
        year = Year_fn.replace("*", "")
    else:
        year = Year_fn

    return int(year)

In [ ]:
df["Census Year"] = df["Census Year"].apply(clean_year)

In [ ]:
def clean_pop(Pop):
    if "," in Pop:
        pop = Pop.replace(",","")
    else:
        pop = Pop
    return int(pop)

In [ ]:
df["Total Population"] = df["Total Population"].apply(clean_pop)

In [ ]:
def clean_cost(Cost):
    ct1=Cost.replace("$","")
    ct2=ct1.replace(",","")
    if " Billion" in ct2:
        cost=int(float(ct2.replace(" Billion",""))*1000000000)
    else:
        cost=ct2
    return int(cost)

In [ ]:
df["Census Cost"] = df["Census Cost"].apply(clean_cost)

In [ ]:
def avg_cost_clean(avg_cost):
    ct1=avg_cost.replace("$","")
    ct2=ct1.replace("\n","")
    if "cents" in ct2:
         avg_cost3=float(ct2.replace(" cents",""))/100
    else:
         avg_cost3=float(ct2)
    r = round(avg_cost3, 5)
    return (r)

In [ ]:
df["Average Cost Per Person"] = df["Average Cost Per Person"].apply(avg_cost_clean)

In [ ]:
df

    Census Year  Total Population  Census Cost  Average Cost Per Person
0          1790           3929214        44377                   0.0113
1          1800           5308483        66109                   0.0124
2          1810           7239881       178445                   0.0246
3          1820           9633822       208526                   0.0216
4          1830          12866020       378545                   0.0294
5          1840          17069458       833371                   0.0488
6          1850          23191876      1423351                   0.0614
7          1860          31443321      1969377                   0.0626
8          1870          38558371      3421198                   0.0887
9          1880          50155783      5790678                   0.1154
10         1890          62979766     11547127                   0.1833
11         1900          76303387     11854000                   0.1554
12         1910          91972266     15968000                   0.1707
13         1920         105710620     25117000                   0.2376
14         1930         122775046     40156000                   0.3271
15         1940         131669275     67527000                   0.5129
16         1950         151325798     91462000                   0.6044
17         1960         179323175    127934000                   0.7134
18         1970         203302031    247653000                   1.2200
19         1980         226542199   1078488000                   4.7600
20         1990         248718301   2492830000                  10.0200
21         2000         281421906   4500000000                  15.9900
22         2010         308745538  13000000000                  42.1100

  ## 7. Find out the summary statistics of the numerical columns - use describe() function

In [ ]:
df.describe()

       Census Year  Total Population   Census Cost  Average Cost Per Person
count      23.0000      2.300000e+01  2.300000e+01                23.000000
mean     1900.0000      1.039211e+08  9.445587e+08                 3.368739
std        67.8233      9.622629e+07  2.830037e+09                 9.278241
min      1790.0000      3.929214e+06  4.437700e+04                 0.011300
25%      1845.0000      2.013067e+07  1.128361e+06                 0.055100
50%      1900.0000      7.630339e+07  1.185400e+07                 0.170700
75%      1955.0000      1.653245e+08  1.096980e+08                 0.658900
max      2010.0000      3.087455e+08  1.300000e+10                42.110000

  ## 8. Use Plotly to plot the average cost per person over time.

In [ ]:
import plotly.express as px 
fig = px.line(df, x="Census Year", y="Average Cost Per Person")   
# showing the plot
fig.show()

  ## 9. Use Plotly to plot the scatter plot of Total Population vs Total Cost.

In [ ]:
import plotly.express as px 
fig = px.scatter(df, x="Total Population", y="Census Cost")   
# showing the plot
fig.show()